<!DOCTYPE html>
<html lang="en" ng-app="eventsApp">
<head>
    <meta charset="UTF-8">
    <title>Event Registration</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/app.css"/>

</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">

            </ul>
        </div>
    </div>
    <style>input.ng-invalid.ng-dirty {background-color: pink}</style>
    <div ng-controller="EditEventController" style="padding-left: 20px; padding-right: 20px">
        <div class="container">
            <h1>New Event</h1>
            <hr/>
            <form name="newEventForm">
                <fieldset>
                    <label for="eventName">Event name:</label>
                    <input id="eventName" type="text" required ng-model="event.name" />
                    <label for="eventDate" type="text" ng-model="event.date" />
                    <input id="eventDate" required ng-pattern="/\d\d/\d\d/\d\d\d\d/" type="text" required ng-model="event.date" />
                    <label for="eventTime">Event time:</label>
                    <input id="eventTime" type="text" ng-model="event.time" />
                    <label for="eventLocation">Event location:</label>
                    <input id="eventLocation" type="text" placeholder="Address" ng-model="event.location.address" />
                    <br/>
                    <input id="eventCity" type="text" placeholder="City" ng-model="event.location.province" />
                    <input id="eventProvince" type="text" placeholder="Province" ng-model="event.location.province" />
                    <label for="eventImageUrl">Image:</label>
                    <input id="eventImageUrl" type="url" ng-model="event.imageUrl" />
                </fieldset>

                <img ng-src="{{event.imageUrl}}" src="" />
                <br/>
                <br/>

                <button type="submit" ng-disabled="newEventForm.$invalid" ng-click="saveEvent(event, newEventForm)" class="btn btn-primary">Save</button>
                <button type="button" ng-click="cancelEdit()" class="btn btn-default">Cancel</button>
            </form>
        </div>
    </div>
</div>

<script src="lib/jquery.min.js"></script>
<script src="lib/underscore-1.4.4.min.js"></script>
<script src="lib/bootstrap.min.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/EventController.js"></script>
<script src="js/controllers/EditEventController.js"></script>
<script src="js/filters.js"></script>
</body>
</html>